.Fbold {
  font-weight: bold;
}
.Fitalic{
  font-style: italic;
  color: #0d31a8;
}
* {
  font-family: "Open Sans", sans-serif;
}
.link_dec{
  color: #0d31a8; 
  text-decoration:underline ;
}

.MynavBar {
  width: 100%;
  background-color: white;
  padding: 0 7%;
}
.text_navBar {
  font-size: 16px;
  margin-right: 20px;
}
.header-imagee {
  width: 100%;
  background-image: url(../Images/case-studies.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
}
.second-section {
  padding: 5% 0 3% 0;
}
.Transform-Insights-Automate-Processes {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}
.customerMagrabi {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}
.Line-9 {
  width: 95%;
  height: 1px;
  margin: 28.5px 0 0 0;
  background-color: #e2e2e2;
}
.Header-info {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}
.content-info {
  margin: 1vh 0;
  padding: 0;
  width: 95%;
  display: block;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}
.Case-Study-Highlights {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}
.check {
  /* text-align: center; */
  display: inline-block;
  background-image: url(../Images/Ellipse\ 11.png);
  background-size: cover;
}
.check-icon {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.check-info {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}
.downloadButton {
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  background-image: url(../Images/button.png);
  background-size: cover;
}
.Rectangle-96 {
  border-radius: 5px;
  background-color: #133862;
}
.Subscribe-to-our-Newsletter {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Join-thousands {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Join-thousands .text-style-1 {
  font-style: italic;
}
.subInput {
  color: rgb(218, 218, 218);
  margin: 0;
}
.Subscribe {
  display: inline;
  margin: 0;
  background-color: #02a4ef;
  font-weight: bold;
  color: #fff;
}
.checking-text{
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
#checking11{
  border-radius: 2px;
    position: absolute;
    top: 5px;
}
.Rectangle-79 {
    width: 100%;
    border: solid 1px #707070;
    background-color: #0d31a8;
  }
  .Our-Customers {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Embrace-the-Breakthrough {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Rectangle-2 {
    border-radius: 5px;
    background-color: #02a4ef;
  font-weight: bold;
  text-align: center;
  color: #fff
  }
  .Rectangle-71 {
    /* width: 100%; */
    border-radius: 5px;
    background-color: #f6f6f6;
    text-align: right;
  }
  .Clear-all-filters {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d31a8;
    text-decoration: underline;
  }
  .Rectangle-72 {
    border-radius: 5px;
    background-color: #fff;
    text-align: left;

  }
  .rel{
    position: relative;
  }
  .Sector {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #272727;
  }
  .list-label{
    position: absolute;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  }
  .Rectangle-101 {
    /* padding: 0; */
    border-radius: 5px;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e1e1e1;
    background-color: #fff;
  }
  .card-img-top{
  object-fit: contain;
  /* border-radius: 5px; */
  }
  .card-title{
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0d31a8;
  }
  .card-text{
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  }
  .card-li{
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #c2c2c2;
  display: inline;
  }
  .img-card-footter{
    width: 18px;
    height: 16px;
    display: inline;
  }
  .img-card-location{
    width: 11px;
    height: 16px;
    display: inline;
  }
  .card-foot{
    width: 100%;
    padding: 0 16px 16px 16px;
    position: relative;
  }
  .locationn{
    display: inline;
    position: absolute;
    right: 16px;
  }
  .Rectangle-102 {
    display: inline;
    border: solid 1px #dfdfdf;
    background-color: #fff;
  }
  .current-page{
    border: solid 1px #dfdfdf;
    background-color: #fff;
  }
  .current-page.active{
    border: solid 1px #dfdfdf;
    background-color: #0d31a8;
  }
  .section_number{
    text-align: center;
    color: #dfdfdf;
  }
  .arrows{
    color: #dfdfdf;
    width: 4.6px;
    height: 8px;
    text-decoration: none;
  }
  .footerbody {
    background-color: #262626;
    font-size: 14px;
  }
  .footer-text{
    width: 60%;
    height: 85px;
    margin: 5% 10% 64px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Subscribe-to-our-newsletter {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .rightfooter input {
    width: 400px;
    height: 35px;
    background-image: url("../Images/Icon\ awesome-paper-plane.png");
    background-repeat: no-repeat;
    background-position: right; 
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }
  
  .footer-img{
    width: 16px;
    height: 16px;
    margin-left:16px;
    object-fit: contain;
  }
  
  @media (min-width: 768px) {
    #navBar-Responsive{
      display: none;
    }
    .header-imagee {
      height: 35vh;
    }
    .header-text {
      height: 6vh;
      font-size: 14px;
      padding: 5px 7%;
    }
    .Transform-Insights-Automate-Processes {
      font-size: 36px;
    }
    .icon-img {
      width: 48px;
      height: 48px;
      margin-right: 2%;
    }
    .customerMagrabi {
      font-size: 18px;
    }
    .Header-info {
      margin: 45px 0;
      font-size: 40px;
    }
    .content-info {
      font-size: 16px;
    }
    .Case-Study-Highlights {
      font-size: 24px;
      margin-bottom: 7%;
    }
    .check {
      width: 26px;
      height: 26px;
    }
    .check-icon {
      width: 10px;
      height: 9px;
      margin: 0 20%;
    }
    .check-info {
      width: 100%;
    font-size: 15px;
    }
    .downloadButton {
      width: 100%;
      height: 64px;
      font-size: 24px;
      padding: 2vh 0;
    }
    .Rectangle-96 {
      width: 100%;
      height: 487px;
      /* margin: 66px 139px 182px 16px; */
      padding: 40px 19px 32px 16px;
    }
    .Subscribe-to-our-Newsletter {
      font-size: 24px;
    }
    .Join-thousands {
      font-size: 14px;
    }
    .subInput {
      font-size: 12px;
      width: 70%;
      height: 40px;
    }
    .Subscribe {
      width: 30%;
      height: 100%;
      font-size: 14px;
      padding: 9px 23px 10px 22px;

    }
    .checking-text{
        margin-left: 20px;
        font-size: 12px;
    }
    #checking11{
        width: 16px;
      height: 16px;
    }
    .Rectangle-79 {
      height: 290px;
      margin: 80px 0;
      padding: 23.5px 51px 6px 64px;
    }
    .Our-Customers {
      width: 171px;
      height: 33px;
      margin: 37.5px 370px 0 62.1px;
      font-size: 24px;
    }
    .Embrace-the-Breakthrough {
      width: 100%;
      margin-left: 62px;
      font-size: 36px;
    }
    .Rectangle-2 {
      width: 320px;
      height: 64px;
      margin: 24px 221px 55px 62.1px;
      padding: 15px 0;
      font-size: 24px;
    }
    .Clear-all-filters {
      font-size: 14px;
    }
    .Rectangle-71 {
      /* width: 100%; */
      height: 847px;
      /* margin: 80px 1px 977px 139px; */
      padding: 24px 7px 24px 8px;
    }
    .Rectangle-72 {
      width: 100%;
      height: 236px;
      margin: 24px 1px 24px 0;
      padding: 16px 165px 15px 16px;
    }
    .Sector {
      font-size: 24px;
    }
    .list-label{
      top: 1px;
      width: 199px;
      margin-left: 7px;
      font-size: 14px;
    }
    .Rectangle-101 {
      /* padding: 0; */
      width: 352px;
      height: 336px;
      margin: 0 0 16px 0;
    }
    .card-img-top{
      width: 350px;
  height: 184px;
   }
   .card-title{
    font-size: 20px;  
   }
   .card-text{
    font-size: 14px;
  }
  .card-li{
    font-size: 14px;
  }
  .Rectangle-102 {
    display: inline;
    width: 40px;
    height: 40px;
    /* margin: 0 38px 0 0; */
    padding: 16px 17.4px 16px 18px;
  }
  .section_number{
    margin-top: 50px;
    width: 100%;
  }
  }
  @media (max-width: 767px) {
    .col-xs-6 {
      width: 50%;
   }
   .col-xs-12 {
    width: 100%;
  }
  .col-xs-4 {
    width: 30%;
  }
  .col-xs-8 {
    width: 70%;
  }
  
  .MynavBar{
    display: none;
  }
  #navBar-Responsive{
    width:100%; 
    background-color: #fff;}
    .header-imagee {
      height: 20vh;
    }
    .header-text {
      height: 4vh;
      font-size: 8px;
      padding: 0 5%;
      padding-top: 5px;
    }
    .Transform-Insights-Automate-Processes {
      font-size: 24px;
    }
    .size-small{
      margin-left: 15px;
    }
    .icon-img {
      width: 28px;
      height: 28px;
      margin-right: 2%;
    }
    .customerMagrabi {
      font-size: 12px;
    }
    
    .Header-info {
      margin: 25px 0;
      font-size: 28px;
    }
    .content-info {
      font-size: 12px;
      width: 80%;
    }
    .Case-Study-Highlights {
      font-size: 18px;
    }
    .check-list-small{
      margin: 20px 15px;
    }
    .check {
      width: 20px;
      height: 20px;
    }
    .check-icon {
      width: 7px;
      height: 6px;
      margin: 0 15%;
    }
    .check-info {
      width: 70%;
    font-size: 12px;
    }
    .downloadButton {
      width: 90%;
      height: 44px;
      font-size: 18px;
      padding: 1vh 0;
    }
    .Rectangle-96 {
      width: 90%;
      /* height: 487px; */
      /* margin: 66px 139px 182px 16px; */
      padding: 40px 19px 32px 16px;
    }
    .Subscribe-to-our-Newsletter {
      font-size: 18px;
    }
    .Join-thousands {
      font-size: 10px;
    }
    .subInput {
      font-size: 10px;
      width: 65%;
      height: 30px;
    }
    .Subscribe {
      display: inline;
      width: 25%;
      height: 20px;
      font-size: 12px;
      padding: 6px 23px 7px 22px;

    }
    .checking-text{
        margin-left: 20px;
        font-size: 10px;
    }
    #checking11{
        width: 14px;
      height: 14px;
    }
    .Rectangle-79 {
      height: 290px;
      width: 400px;
      /* margin: 80px 0; */
      /* padding: 23.5px 51px 6px 64px; */
      text-align: center;
    }
    .group-ph{
      display: none;
    }
    .footerbody{
      display: none;
    }
    .Our-Customers {
      /* width: 171px;
      height: 33px; */
      margin: 37px 0;
      margin-left: 30%;
      font-size: 20px;
    }
    .Embrace-the-Breakthrough {
      /* width: 80%; */
      margin-left: 30%;
      font-size: 28px;
    }
    .Rectangle-2 {
      width: 220px;
      height: 54px;
      margin: 24px 0;
      margin-left: 25%;
      padding: 15px 0;
      font-size: 18px;
    }
    .Clear-all-filters {
      font-size: 10px;
    }
    .Rectangle-71 {
      /* width: 100%; */
      height: 780px;
      /* margin: 80px 1px 977px 139px; */
      padding: 14px 7px 14px 8px;
    }
    .Rectangle-72 {
      width: 95%;
      height: 220px;
      margin: 14px 1px 14px 0;
      padding-left: 7px;
      /* padding: 16px 165px 15px 16px; */
    }
    .Sector {
      font-size: 14px;
    }
    .list-label{
      width: 80px;
      margin-left: 7px;
      font-size: 8px;
      top: 7px;
    }
    .chBox{
      width: 10px;
      height: 10px;
      /* position: absolute; */
      /* top: 0; */
    }
    .Rectangle-101 {
      /* padding: 0; */
      width: 90%;
      height: 290px;
      margin: 0 0 14px 0;
      /* position: relative; */
    }
    .card-img-top{
      /* position: absolute; */
      width: 100%;
  height: 150px;
   }
   .card-title{
    font-size: 15px;  
   }
    .card-text{
      font-size: 10px;
    }
    .card-li{
      font-size: 10px;
    }
    .Rectangle-102 {
      display: inline;
      width: 20px;
      height: 20px;
      /* margin: 0 38px 0 0; */
      padding: 10px 12px 10px 12px;
    }
    .section_number{
      margin: 20px 0;
      width: 80%;
    }
}
#search-section2{
  display: none;
  width: 100%;
  height:24px
}
#mySidenav{
  display: none;
  width: 100%; 
  background-color:#fff;
}
