body {
  margin: 0px;
  padding: 0px;
  position: relative;
}
section {
  position: relative;
  top: 50px;
}
.shapes {
  position: relative;
  left: 550px;
}
.row{
  margin: 0;
  padding: 0;
}
.transparent {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(2, 164, 239, 0.4),
      rgba(10, 144, 117, 0.4)
    ),
    url(../Images/slider\ img.jpg);
  background-color: rgba(0, 0, 0, 0.32);
  background-size: cover;
  /* border: solid 1px #707070; */
}

.navbar-text {
  color: white;
}
.nav-item {
  color: white;
  margin-left: 20px;
}

.nav-item:hover{
  border-bottom: 4px #02a4ef solid;
}
#megaMenu{
  margin-top: 15px;
  border: none;
  border-radius: 0;
}
.navbar {
  padding-top: 1%;
  padding-right: 10%;
  padding-left: 10%;
  text-align: left;
}

.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:15%; right:15%; width:70%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}

.center-section {
  font-family: 'Open Sans', sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.Opentext-Platinum-Partner {
  font-weight: bold;
}
.ASSET-is-now {
  font-weight: 300;
}

.Learn-more {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
@media (min-width: 768px) {
  .center-section {
    margin-top: 15%;
  }
  .Opentext-Platinum-Partner {
    font-size: 48px;
  }
  .ASSET-is-now {
    font-size: 30px;
  }
  .btn {
    width: 20%;
    height: 1%;
    margin-top: 3%;
    padding: 1%;
    border-radius: 3px;
    background-color: #02a4ef;
  }
  .Learn-more {
    width: 100px;
    height: 24px;
    font-size: 18px;
  }
  .-years {
    font-size: 18px;
  }
  .On-our-30th-year {
    font-size: 32px;
  }
  .MegaMenu-header{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5%;
  }
  .MegaMenu-para mb-3{
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 5%;
  }
  #navBar-Responsive{
    display: none;
  }
  .first-cards{
    margin: 10px 50px 20px 70px;
    padding: 0 40px;
  }
  .card-text1 {
    margin-top: 190px;
    margin-left: 10px;
    font-size: 18px;
  }
  .second-section {
    padding-top: 2%;
  }
  .Egyptian-Knowledge-Bank {
    font-size: 24px;
  }
  .A-desired-thinking-and-Innovating-Egyptian-Society {
    font-size: 32px;
  }
  .Rectangle-24 {
    padding: 0;
    width: 100%;
    height: 550px;
  }
  .second-section-Responsive{
    display: none;
  }
  .Everything-your-business {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #272727;
  }
  .ASSET-was-honored{
    font-size: 18px;
  }
  .Ready-to-be-Empowered-We-create-solutions-that-drive-results {
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .Ready-to-be-Empowered-We-create-solutions-that-drive-results .text-style-1 {
    font-size: 32px;
  }
  .second-cards{
    padding: 0 90px;
  }
  .Rectangle-23 {
    width: 260px;
    height: 56px;
    padding: 17px 86px 17px 87px;
    margin-top: 60px;
  }
  .Rectangle-52 {
    width: 100%;
    margin: 80px 0 0;
    padding: 70px 139px;
  }  
  .-Years-in-the-Technology-Transformation-Business {
    width: 398px;
    height: 220px;
    margin: 0 16px 0 0;
    font-size: 40px;
  }
  .card1{
    height: 260px;
    margin-top: 10px;
  }
  .Our-mission-is-to-deliver {
    font-size: 18px;
  }
  .-Years-of-Experience {
    font-size: 20px;
  }
  
  .text-style-years {
    font-size: 32px;
  }
  .Our-Technology-Partners {
    width: 100%;
    height: 76px;
    margin: 88px 0 82px 0;
    font-size: 32px;
  }
  
  .Our-Technology-Partners .text-style-1 {
    font-size: 24px;
  }
  .owl-carousel{
    padding: 0 100px;
  }
  .Rectangle-34 {
    padding: 2% 1% 1% 3%;
    padding-right: 10px;
    height: 740px;
    margin-top: 20px;
  }
  .Boost-efficiency-and-increase-accessibility {
    width: 474px;
    height: 86px;
    margin: 0 42px 24px 0;
    font-size: 32px;
  }
  .OpenText-implementation-for-ADDAX-petroleum {
    width: 515px;
    height: 27px;
    margin: 24px 0 40px 1px;
    font-size: 20px;
  }
  .accordionn-itemm {
    width: 80%;
  }
  .accordionn-item-headerr {
    font-size: 18px;  
  }
  .Group-130 {
    height: 810px;
  }
  .Rectangle-39 {
    width: 329px;
    height: 469px;
    margin: 0 0.5px 0 0;
    padding: 8px 8px 24px;
  }
  .footer-Res{
    display: none;
  }
  .th-cards{
    padding: 0 100px;
  }
  .contact {
    width: 100%;
    height: 385px;
    margin-top: 3%;
    padding: 5% 20% 90px 10%;
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .col-xs-6 {
    width: 50%;
 }
 .col-xs-12 {
  width: 100%;
}
  .Opentext-Platinum-Partner {
    font-size: 18px;
  }
  .ASSET-is-now {
    font-size: 14px;
  }
  .center-section {
    margin-top: 70%;
  }
  .btn {
    width: 30%;
    height: 2%;
    margin-top: 3%;
    padding: 1% 2% 2%;
    border-radius: 3px;
    background-color: #02a4ef;
  }
  .Learn-more {
    width: 44px;
  height: 11px;
  font-size: 8px;
  }
  .Ready-to-be-Empowered-We-create-solutions-that-drive-results {
    /* margin-top: 50px;
    margin-bottom: 40px; */
    margin: 40px 60px;
    font-size: 18px;
  }
  .Ready-to-be-Empowered-We-create-solutions-that-drive-results .text-style-1 {
    font-size: 24px;
  }
  .-years {
    font-size: 14px;
  }
  .On-our-30th-year {
    font-size: 24px;
  }
  .left-side {
    padding-left: 40px;
    margin: auto;
  }
  .left-side2 {
    padding: 20px 40px 10px 40px ;
  }
  .first-cards{
    /* margin-bottom:  10px; */
    padding: 0 30px;

  }
  .card1{
    margin-top: 20px;
    height: 140px;
  }
  .accordionn-item-headerr {
    font-size: 10px;  
  }
  .Rectangle-23 {
    width: 95%;
    height: 48px;
    margin-left:10px;
    padding-top: 15px;
    text-align: center;
    /* padding: 15px 90px 15px 90px; */
    margin-top: 20px;
  }
  .card-text1 {
    margin-top: 100px;
    margin-left: 10px;
    font-size: 12px;
  }
  .second-section2 {
    display: none;
  }
  .Egyptian-Knowledge-Bank {
    font-size: 18px;
  }
  .A-desired-thinking-and-Innovating-Egyptian-Society {
    font-size: 23px;
  }
  .ASSET-was-honored{
    font-size: 14px;
  }
  .Rectangle-24 {
    padding: 0;
    width: 90%;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .Rectangle-52 {
    width: 100%;
    margin: 80px 0 0;
    padding: 20px 35px;
  }
  .-Years-in-the-Technology-Transformation-Business {
    width: 286px;
  height: 172px;
  margin: 0 0 16px;
  /* padding: 74.9px 128.4px 29.3px 123.7px; */
  font-family: OpenSans;
  font-size: 32px;
  }
  .Our-mission-is-to-deliver {
    font-size: 14px;
  }
  .-Years-of-Experience {
    font-size: 14px;
  }
  
  .text-style-years {
    font-size: 24px;
  }  
  .Our-Technology-Partners {
    width: 100%;
    height: 57px;
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
  }
  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Aliquam-aliquet-elit-vel-semper-dapibus-m{
    font-size: 10px;
  }
  .Our-Technology-Partners .text-style-1 {
    font-size: 18px;
  }
  .OpenText-implementation-for-ADDAX-petroleum {
    /* width: 515px;
    height: 27px;
    margin: 24px 0 40px 1px; */
    font-size: 14px;
  }
  .accordionn-itemm {
    width: 100%;
  }
  .Group-130 {
    height: 340px;
    margin-top: 15px;
    margin-left: 15px;
    width: 90%;
  }
  .Rectangle-39 {
    width: 90%;
    /* height: 390px; */
    /* margin: 0 0.5px 0 0;
    padding: 8px 8px 24px; */
    margin-left: 10px;
    padding: 7px 7px 16px;
  }
  .contact {
    width: 100%;
    /* height: 225px; */
    margin-top: 3%;
    padding: 24px 35px;
    font-size: 18px;
  }
  .footerbody{
    display: none;
  }
  .MegaMenu-header{
    font-size: 14px;
  }
  .MegaMenu-para mb-3{
    display: none;
  }
  #navBarSec{
    display: none;
  }

  .Everything-your-business {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #272727;
  }
  .Rectangle-34 {
    width: 90%;
    margin-left: 20px;
    padding: 25px 30px 30px 40px;
    /* height: 490px; */
    /* margin-top: 20px; */
  }
  .Boost-efficiency-and-increase-accessibility {
    /* width: 214px;
  height: 99px; */
  /* margin: 0 20px 16px 0; */
  margin-bottom: 10px;
  font-size: 24px;
  }
  .footer-Res{
    width: 100%;
    height: 60px;
    background-color: #202020;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  }
}
#search-section.active{
  display: none;
}

#search-section2.active{
  display: none;
}
#navBarSec.active {
  display: none;
}
#navBar-Responsive.active{
  display: none;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px; Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.On-our-30th-year {
  padding: 2%;
  /* margin: 103px 16px 8px 139px; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}
.text-style {
  font-weight: bold;
}

/* .col{
    margin: 8px;
  } */
.left-side {
  padding-top: 20px;
}
.-years {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.text-style-1 {
  font-size: 24px;
  font-weight: 300;
}
.text-style-2 {
  font-size: 24px;
}

.card1 {
  position: relative;
  border-radius: 0;
  border: none;
  padding: 0;
  /* margin: 0; */
  /* margin-bottom: 10px; */
}

.card-text1 {
  position: absolute;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.53);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  -webkit-line-clamp: 2;
}

.Rectangle-24 {
  padding: 0;
  /* margin: 10px; */
  /* opacity: 0.47; */
  background: linear-gradient(
      to bottom,
      rgba(2, 164, 239, 0.4),
      rgba(10, 144, 117, 0.4)
    ),
    url(../Images/Group\ 101.jpg);
  background-color: rgba(0, 0, 0, 0.32);
  background-size: cover;
}

.Egyptian-Knowledge-Bank {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #02a4ef;
}

.A-desired-thinking-and-Innovating-Egyptian-Society {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.ASSET-was-honored{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.Rectangle-22 {
  /* margin-left: 50px; */
  width: 100%;
}

.Rectangle-25 {
  width: 100%;
  height: 280px;
  padding: 1%;
  margin: auto;
  /* padding: 24px 16px 27px; */
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #fff;
}
img.dots-pattern {
  width: 100%;
  height: 383.5px;
  /* margin: 80px 0 2229.5px 4px; */
  object-fit: contain;
  opacity: 0.2;
}

.Rectangle-52 {

  /* opacity: 0.47; */
  background-image: url(../Images/dots-pattern.png);
  background-color: #0d31a8;
  background-size: contain;
}
.myExampleModal{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
img.message {
  width: 90px;
  height: 70px;
  margin: 24px 138px 8px 16px;
  object-fit: contain;
}

.Lorem-ipsum {
  /* width: 228px;
    height: 79px;
    margin: 8px 0 0; */
    
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.Rectangle-23 {
  border-radius: 2px;
  background-image: linear-gradient(
    to right,
    rgba(2, 164, 239, 0.78),
    rgba(7, 152, 166, 0.85) 48%,
    rgba(8, 150, 155, 0.84) 60%,
    rgba(10, 144, 117, 0.82)
  );
}

.Learn-more {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Ready-to-be-Empowered-We-create-solutions-that-drive-results {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}
.Ready-to-be-Empowered-We-create-solutions-that-drive-results .text-style-1 {
  font-weight: bold;
}

.card-title1 {
  width: 100%;
  padding-bottom: 1%;
  /* margin: 16px 77px 8px 0; */
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
  max-height: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.-Years-in-the-Technology-Transformation-Business {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Our-mission-is-to-deliver {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.-Years-of-Experience {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.text-style-years {
  width: 100%;
  font-weight: 800;
}

.Our-Technology-Partners {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}

.Our-Technology-Partners .text-style-1 {
  font-weight: 300;
  display: block;
}

.Group-130 {
  background-image: url(../Images/Group\ 130.jpg);
  /* margin: 80px 0 88px 16px; */
  background-size: cover;
}

.Rectangle-34 {
  object-fit: contain;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.Boost-efficiency-and-increase-accessibility {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.OpenText-implementation-for-ADDAX-petroleum {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.item {
  width: 148px;
  height: 26px;
  /* margin: 14px 0 14px 37px; */
  object-fit: contain;
}

.item2 {
  width: 168px;
  height: 80px;
  /* margin: 72px 0 0 16px; */
  object-fit: contain;
}

.Rectangle-39 {
  position: relative;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  background-color: #fff;
}
.newsbtn,
.eventbtn {
  padding-left: 5px;
  position: absolute;
  /* background-color: blue; */
  top: 40%;
  right: 10%;
  width: 60px;
  font-size: 10px;
  height: 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #0d31a8;
  background-image: url("../Images/Icon\ awesome-rss.png");
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 10px 10px;
  color: #fff;
}
.eventbtn{
  background-color: #02a4ef;
  background-image: url("../Images/Icon\ material-event.png");
}
.card-li {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #c4c4c4;
  text-align: left;
  margin-top: 5%;
}

.contact {
  width: 100%;
  margin-top: 3%;
  object-fit: contain;
  background-image: url(../Images/contact.png);
}
.Rectangle-49 {
  width: 329px;
  height: 61px;
  /* margin: 32px 362px 0 0; */
  padding: 14px 108px;
  border: solid 1px #707070;
  background-color: #fff;
}

.Rectangle-37-close {
  width: 85%;
  height: 40px;
  margin: 32px 48px 32px 1px;
  padding: 8px 20px 8px 24px;
  border-radius: 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.Rectangle-37-close.Rectangle-37-open {
  background-image: linear-gradient(to right, #02a4ef, #0699ae 39%, #0a9075 99%);
}

.content {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin-left: 5%;
  font-size: 16px;
  overflow: hidden;
  height: 0px;
  transition: all 1s ease-in-out;
}

.theaccordion {
  margin-top: 2%;
  border: none;
}

.accordionn-itemm {
  border-radius: 50px;
  color: #111;
  margin-top: 1rem ;
}
.accordionn-itemm2 {
  color: #111;
  width: 100%;
}

.accordionn-item-headerr {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 0.3rem 2rem 0.3rem 1rem;
  min-height: 2.5rem;
  line-height: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordionn-item-headerr2 {
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: 0.3rem 2rem 0.3rem 1rem;
  min-height: 2.5rem;
  line-height: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;  
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordionn-item-headerr::after {
  content: "\002B";
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;

}

.accordionn-item-headerr.active {
  background-image: linear-gradient(to right, #02a4ef, #0699ae 39%, #0a9075 99%);
  color: #fff;
}

.accordionn-item-headerr.active::after {
  content: "\2212";
  font-size: 1.5rem;

}

.accordionn-item-bodyy {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

.accordionn-item-body-contentt {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordionn-item-headerr2::after {
  content: "\002B";
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;

}

.accordionn-item-headerr2.active {
  background-color: #0c4c8d;
  color: #fff;
}

.accordionn-item-headerr2.active::after {
  content: "\2212";
  font-size: 1.5rem;

}

.accordionn-item-bodyy2 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  
}

.accordionn-item-body-contentt2 {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}


.footerbody {
  background-color: #262626;
  /* background: -webkit-linear-gradient(to right, #2c2728, #49443e);
  background: linear-gradient(to right, #2c2728, #49443e); */
}
#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

.footer-text{
  width: 60%;
  height: 85px;
  margin: 5% 10% 64px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Subscribe-to-our-newsletter {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.rightfooter input {
  width: 400px;
  height: 35px;
  background-image: url("../Images/Icon\ awesome-paper-plane.png");
  background-repeat: no-repeat;
  background-position: right; 
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

.footer-img{
  width: 16px;
  height: 16px;
  margin-left:16px;
  object-fit: contain;
  /* background-color: #fff; */
}
