body {
  margin: 0px;
  padding: 0px;
  position: relative;
}
section {
  position: relative;
  top: 50px;
}
.shapes {
  position: relative;
  left: 550px;
}
.transparent {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(2, 164, 239, 0.4),
      rgba(10, 144, 117, 0.4)
    ),
    url(../Images/slider\ img.jpg);
  background-color: rgba(0, 0, 0, 0.32);
  background-size: cover;
  /* border: solid 1px #707070; */
}

.navbar-text {
  color: white;
}
.nav-item {
  color: white;
  margin-left: 20px;
}

.navbar {
  padding-top: 30px;
  padding-right: 130px;
  padding-left: 130px;
  text-align: left;
}

.center-section {
  margin-top: 200px;
  font-family: OpenSans;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.Opentext-Platinum-Partner {
  font-size: 48px;
  font-weight: bold;
}
.ASSET-is-now {
  font-size: 30px;
  font-weight: 300;
}
.btn {
  width: 260px;
  height: 49px;
  margin-top: 40px;
  padding: 12px 80px 13px;
  border-radius: 3px;
  background-color: #02a4ef;
}
.Learn-more {
  width: 100px;
  height: 24px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.second-section {
  padding-top: 50px;
}

.On-our-30th-year {
  width: 536px;
  height: 215px;
  padding: 20px;
  /* margin: 103px 16px 8px 139px; */
  font-family: OpenSans;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}
.text-style {
  font-weight: bold;
}

/* .col{
    margin: 8px;
  } */
.left-side {
  padding-top: 20px;
}
.-years {
  width: 536px;
  height: 76px;
  margin-top: 20px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.Everything-your-business-needs-Seamlessly-Reimagined-Created-Implemented {
  font-family: OpenSans;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}
.text-style-1 {
  font-size: 24px;
  font-weight: 300;
}
.text-style-2 {
  font-size: 24px;
}

.card1 {
  position: relative;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.card-text1 {
  position: absolute;
  margin-top: 180px;
  margin-left: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.53);
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Rectangle-24 {
  padding: 0;
  margin: 10px;
  width: 500px;
  height: 500px;
  /* opacity: 0.47; */
  background: linear-gradient(
      to bottom,
      rgba(2, 164, 239, 0.4),
      rgba(10, 144, 117, 0.4)
    ),
    url(../Images/Group\ 101.jpg);
  background-color: rgba(0, 0, 0, 0.32);
  background-size: cover;
}

.Egyptian-Knowledge-Bank {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #02a4ef;
}

.A-desired-thinking-and-Innovating-Egyptian-Society {
  font-family: OpenSans;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.ASSET-was-honored-to-be-selected-as-the-technology-partner-by-the-government-responsible-for-buildi {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.ASSET-in-cooperation-with-contents-providers-consortium-members-were-able-to-deliver-such-huge-proje {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.Rectangle-22 {
  margin-left: 50px;
}

.Rectangle-25 {
  width: 260px;
  height: 280px;
  padding: 10px;
  margin: auto;
  /* padding: 24px 16px 27px; */
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #fff;
}
img.dots-pattern {
  width: 100%;
  height: 383.5px;
  /* margin: 80px 0 2229.5px 4px; */
  object-fit: contain;
  opacity: 0.2;
}

.Rectangle-52 {
  width: 100%;
  /* height: 380px; */
  margin: 80px 0 0;
  padding: 70px 139px;

  /* opacity: 0.47; */
  background-image: url(../Images/dots-pattern.png);
  background-color: #0d31a8;
  background-size: contain;
}

img.message {
  width: 90px;
  height: 70px;
  margin: 24px 138px 8px 16px;
  object-fit: contain;
}

.Lorem-ipsum {
  /* width: 228px;
    height: 79px;
    margin: 8px 0 0; */
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.Rectangle-23 {
  width: 260px;
  height: 56px;
  padding: 17px 86px 17px 87px;
  margin-top: 60px;
  border-radius: 2px;
  background-image: linear-gradient(
    to right,
    rgba(2, 164, 239, 0.78),
    rgba(7, 152, 166, 0.85) 48%,
    rgba(8, 150, 155, 0.84) 60%,
    rgba(10, 144, 117, 0.82)
  );
}

.Learn-more {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Ready-to-be-Empowered-We-create-solutions-that-drive-results {
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}
.Ready-to-be-Empowered-We-create-solutions-that-drive-results .text-style-1 {
  font-size: 32px;
  font-weight: bold;
}

.card-title1 {
  width: 200px;
  height: 48px;
  /* margin: 16px 77px 8px 0; */
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.-Years-in-the-Technology-Transformation-Business {
  width: 398px;
  height: 220px;
  margin: 0 16px 0 0;
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Our-mission-is-to-deliver-smooth-IT-Transformation-Experiences-to-our-customers-empowered-by-profess {
  /* width: 674px;
    height: 96px;
    margin: 19px 0 16px 16px; */
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.-Years-of-Experience {
  /* width: 191px;
    height: 70px; */
  /* margin: 16px 16px 19px; */
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.text-style-years {
  font-size: 32px;
  font-weight: 800;
}

.Our-Technology-Partners {
  width: 100%;
  height: 76px;
  margin: 88px 0 82px 0;
  font-family: OpenSans;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}

.Our-Technology-Partners .text-style-1 {
  font-size: 24px;
  font-weight: 300;
  display: block;
}

.Group-130 {
  /* width: 675px; */
  height: 810px;
  background-image: url(../Images/Group\ 130.jpg);
  /* margin: 80px 0 88px 16px; */
  background-size: cover;
}

.Rectangle-34 {
  /* width: 635px; */
  /* height: 340px; */
  /* margin: 50px 10px 0 0; */
  padding: 56px 21px 121px 98px;
  object-fit: contain;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.Boost-efficiency-and-increase-accessibility {
  width: 474px;
  height: 86px;
  margin: 0 42px 24px 0;
  font-family: OpenSans;
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.OpenText-implementation-for-ADDAX-petroleum {
  width: 515px;
  height: 27px;
  margin: 24px 0 40px 1px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.item {
  width: 148px;
  height: 26px;
  /* margin: 14px 0 14px 37px; */
  object-fit: contain;
}

.item2 {
  width: 168px;
  height: 80px;
  /* margin: 72px 0 0 16px; */
  object-fit: contain;
}

.Rectangle-39 {
  width: 329px;
  height: 469px;
  margin: 0 0.5px 0 0;
  padding: 8px 8px 24px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  background-color: #fff;
}

.card-li {
  font-family: OpenSans;
  font-size: 10px;
  font-weight: bold;
  color: #c4c4c4;
  text-align: left;
  margin-top: 5%;
}

.contact{
    width: 100%;
    height: 385px;
    margin-top: 80px;
    padding: 67px 536px 90px 139px;
    object-fit: contain;
    background-image: url(../Images/contact.png);
}
.Rectangle-49 {
  width: 329px;
  height: 61px;
  margin: 32px 362px 0 0;
  padding: 14px 108px;
  border: solid 1px #707070;
  background-color: #fff;
}
.footerbody {
  background: #000000;
  background: -webkit-linear-gradient(to right, #2c2728, #49443e);
  background: linear-gradient(to right, #2c2728, #49443e);
}
#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

